<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{183,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{183,81}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>hero_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,879},{92,132}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{92,132}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{174,128}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{174,128}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,818},{126,110}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{126,110}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,814},{126,110}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{126,110}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,230},{146,82}}</string>
                <key>offset</key>
                <string>{-40,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{146,82}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{214,90}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{214,90}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{214,90}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{214,90}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{236,130}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,94},{202,134}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,134}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,314},{144,132}}</string>
                <key>offset</key>
                <string>{-46,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,132}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,564},{144,126}}</string>
                <key>offset</key>
                <string>{-46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,126}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{178,122}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{178,122}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,448},{150,114}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{150,114}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{124,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{124,134}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{180,130}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{180,130}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,230},{178,124}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{178,124}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,692},{124,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{124,134}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{174,128}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{174,128}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{178,122}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{178,122}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,692},{124,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{124,134}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>hero_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,632},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,540},{176,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,448},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,356},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,724},{176,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{176,88}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test_hero.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04021dfc4ced92d88cb1d6055f492a0c$</string>
            <key>textureFileName</key>
            <string>test_hero.png</string>
        </dict>
    </dict>
</plist>
